a {
    text-decoration: none;
}
.hero {
    height: 50vh;
    max-height: fit-content;
}
.btn {
    margin: 1rem 1rem;
}
.sobre {
    padding: 2rem;
}
.titulo {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.sobre-btn {
    margin: 0;
    margin-bottom: 2rem;
}
section {
    padding-bottom: 2rem;
    min-height: 50vh;
}